<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная | Base64-кодер</title>
</head>
<body>
  <form action="{{ url_for('encode') }}" method="post">
    <label for="inputPlainText">Введите строку</label><br>
    <textarea name="plain_text" id="inputPlainText" cols="30" rows="10"></textarea><br>
    <button type="submit">Закодировать</button>
  </form>
</body>
</html>