<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Результаты | Base64-кодер</title>
</head>
<body>
  <p><a href="{{ url_for('index') }}">На главную</a></p>
  <p>Изначальная строка: {{ source }}</p>
  <pre>
    {{ result }}
  </pre>
</body>
</html>